@import "tailwindcss";

.heading-container {
  display: flex;
}
.heading {
  padding: 5px;
  border: 1px solid black;
  cursor: pointer;
}
.tab-body {
  border: 1px solid black;
  padding: 5px;
  height: 500px;
}

/* Input */
.input-parent {
  position: relative;
  height: 60px;
  line-height: 60px;
}
input {
  position: absolute;
  width: 100%;
  outline: none;
  font-size: 18px;
  padding: 0 30px;
  height: 100%;
  border-radius: 10px;
  background: transparent;
  transition: 0.1s ease;
  z-index: 1111;
  outline: none;
}
.custom-placeholder {
  position: absolute;
  font-size: 16px;
  padding: 0 25px;
  margin: 0 10px;
  /* background-color: white; */
  transition: 0.2s ease;
  /* height: 40px; */
  z-index: 0;
}
input:focus {
  /* color: #00C951; */
  border: 2px solid #51A2FF;
}
input:focus + .custom-placeholder {
  color: #51A2FF;
  height: 60px;
  line-height: 30px;
  padding: 0 12px;
  transform: translate(-15px, -16px) scale(0.88);
  z-index: 1111;
}
