@import "tailwindcss";

.heading-container {
  display: flex;
}
.heading {
  padding: 5px;
  border: 1px solid black;
  cursor: pointer;
}
.tab-body {
  border: 1px solid black;
  padding: 5px;
  height: 500px;
}

/* Input */
.input-parent {
  position: relative;
  height: 80px;
  line-height: 80px;
}
input {
  position: absolute;
  width: 100%;
  outline: none;
  font-size: 2.2em;
  padding: 0 30px;
  line-height: 80px;
  border-radius: 10px;
  /* border: 2px solid #f0ffff; */
  background: transparent;
  transition: 0.1s ease;
  z-index: 1111;
}
.custom-placeholder {
  position: absolute;
  font-size: 1.6em;
  color: #f0ffff;
  padding: 0 25px;
  margin: 0 20px;
  /* background-color: #1c2841; */
  transition: 0.2s ease;
  z-index: 9999;
}
input:focus,
input:valid {
  color: #66ff00;
  border: 4px solid #66ff00;
}
input:focus + .custom-placeholder,
input:valid + .custom-placeholder {
  color: #66ff00;
  height: 30px;
  line-height: 30px;
  padding: 0 12px;
  transform: translate(-15px,-16px) scale(0.88);
  z-index: 1111;
}
